.block_color
    .square.shade1
    .title_color
        h2 Dark Shade 100%
        .title_color_code #1F2041




.block_color
    .square.shade2
    .title_color
        h2 Dark Shade 75%
        .title_color_code #1F2041



.block_color
    .square.shade3
    .title_color
        h2 Dark Shade 50%
        .title_color_code #1F2041



.block_color
    .square.shade4
    .title_color
        h2 Dark Shade 25%
        .title_color_code #1F2041



.block_color
    .square.shade5
    .title_color
        h2 Dark Shade 5%
        .title_color_code #1F2041



.block_color
    .square.shade6
    .title_color
        h2 Purple
        .title_color_code #BC9CFF



.block_color
    .square.shade7
    .title_color
        h2 Green
        .title_color_code #6FCF97







