.block_color
    .square.shade1
    .title_color
        p Dark Shade 100%
        p.title_color_code #1F2041




.block_color
    .square.shade2
    .title_color
        p Dark Shade 75%
        p.title_color_code #1F2041



.block_color
    .square.shade3
    .title_color
        p Dark Shade 50%
        p.title_color_code #1F2041



.block_color
    .square.shade4
    .title_color
        p Dark Shade 25%
        p.title_color_code #1F2041



.block_color
    .square.shade5
    .title_color
        p Dark Shade 5%
        p.title_color_code #1F2041



.block_color
    .square.shade6
    .title_color
        p Purple
        p.title_color_code #BC9CFF



.block_color
    .square.shade7
    .title_color
        p Green
        p.title_color_code #6FCF97







