div.hh2

    div.hh
        p.text_title1 H1
        p.text_title2 H2
        p.text_title3 H3
        p.text_title4 Body


    div.flex_main

        div.text_h1

            h1.text_size1
                |This one is the sub-section or
                |widget title

        div.text_h2

            h2.text_size2
                |Next one is the item title inside
                br
                |widgets

        div.text_h3


            h3.text_size3
                |THIS IS A LABEL OR CTA TEXT

        div.text_body

            .text_size4
                |This is the body text which is used for most
                br
                |of the design, like paragraphs, lists, etc.
