@import "src/styles/font";   // Шрифты
@import "src/styles/ui-kit"; // Здесь все файлы которые нужны ТОЛЬКО на странице UI-KIT

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
///////    Переменные       ///////

$body-color: white;  // Цвет заливки "фона" (body)




//    Основные цвета для заливки     //
$main-color1: #1F2041;
$main-color2: rgba(31, 32, 65, 0.75);
$main-color3: rgba(31, 32, 65, 0.5);
$main-color4: rgba(31, 32, 65, 0.25);
$main-color5: rgba(31, 32, 65, 0.05);
$main-color6: #BC9CFF;
$main-color7: #6FCF97;
//    Основные цвета для заливки     //
///////    Переменные       ///////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




*{margin:0;
  padding:0;
}








////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//   Стили для текста, НЕ ТРОГАТЬ    //

h1{

  font-family: 'Conv_Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #1F2041;
}
h2{

  font-family: 'Conv_Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #1F2041;
}
h3{

  font-family: 'Conv_Montserrat-Bold', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  color: #1F2041;
  line-height: 15px;
}

//   Стили для текста, НЕ ТРОГАТЬ    //
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



body {
  background-color: $body-color;
  font-family: 'Conv_Montserrat-Regular', sans-serif;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

}





.block_field_position{
  display: inline-block;
  padding: 142px 0 0 141px;
}

input{
  padding-left: 15px;
  outline:none;
  font-size: 15px;
  width: 320px;
  height: 44px;

  border: 1px solid $main-color4;
  box-sizing: border-box;
  border-radius: 4px;

}



input::placeholder{
  color: $main-color4;

}

input:hover::placeholder{
  color: $main-color2;
}

input:hover{

  border: 1px solid $main-color3;
  box-sizing: border-box;
  border-radius: 4px;
}

.flex_text_field{
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;


}

.slim{
  color: $main-color3;
  font-size: 13px;
  font-family: 'Conv_Montserrat-Regular', sans-serif;

}

.text_field_title{
  padding-bottom: 20px;

}


input.pressed::placeholder{

  color: $main-color2;
}