extends   doctype.pug

block variables
    - var pageTitle = "TØXIN"




    - var TEXT_FIELD1 = "TEXT FIELD"
    - var TEXT_STATUS1 = "DEFAULT"
    - var ph1 = "Email"




    - var TEXT_FIELD2 = "TEXT FIELD"
    - var TEXT_STATUS2 = "HOVER / FOCUS"
    - var ph2 = "This is pretty awesome"





    - var TEXT_FIELD3 = "DROPDOWN"
    - var TEXT_STATUS3 = ""
    - var ph3 = "Сколько гостей"




    - var TEXT_FIELD4 = "MASKED TEXT FIELD"
    - var TEXT_STATUS4 = ""
    - var ph4 = "ДД.ММ.ГГГГ"



